//Spacing

.ma {
  margin: auto;
}

.mt00 {
  margin-top: 0;
}

.mt10 {
  margin-top: 1rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 3rem;
}

//Display

.dblock {
  display: block;
}

//Text

.notoSansDisplay {
  font-family: "Noto Sans Display", system-ui;
}

.tUppercase {
  text-transform: uppercase;
}

.weight100 {
  font-weight: 100;
}

.fontsize12 {
  font-size: 1.2rem;
}